.main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(90.3deg, #3f044b 50.6%, #2a023f 101.62%);
    margin-top: 10%;
  }

.centered-table {
    text-align: center;
  }
  
  .centered-header {
    text-align: center;
  }
  .button-spacing {
    margin-left: 5px; 
  }
  .centered-cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .red-button {
    background-color: red;
    color: white;
  }
  
  
.container {
   
    backdrop-filter: blur(50px);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #bd68e4;
    animation: neon-animation 1.3s infinite alternate;
  }
  :host /deep/ .ui-table {
    width: 100% !important;
  }
  @media screen and (max-width: 680px) {
    .container {
      width: 100%;
      flex-direction: column;
    }
    .main-login {
      background: linear-gradient(180.3deg, #3f044b 50.6%, #2a023f 101.62%);
    }
    .h2 {
      font-size: 1px;
    }
    body {
      background: linear-gradient(-180.3deg, #3f044b 50.6%, #2a023f 101.62%);
    }
    .login-image {
      width: 200px;
      margin-top: 0px;
      height: 200px;
    }
    .image {
      width: 200px;
      height: 200px;
    }
    .login {
      margin-top: -80px;
    }
  }
  
  /* Estilos da imagem */
  .image {
    flex: 1;
    padding: 20px;
    text-align: center;
    transition: bottom 1s;
  }
  .image:hover {
    bottom: 25px;
  }
  
  /* Estilos do formulário */
  .login {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  
  .login h2 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 5px;
    font-family: "Satisfy", cursive;
    color: #ffff; /* Cor do texto (verde) */
    text-shadow: 0 0 10px #0000, 0 0 20px #3bb2cd, 0 0 30px #68cee4; /* Sombra do texto */
  }
  
  /* Animação */
  @keyframes neon-animation {
    0% {
      opacity: 10; /* Opacidade inicial */
    }
    100% {
      opacity: 0.8; /* Opacidade final (diminui) */
      text-shadow: 0 0 20px #68cee4, 0 0 40px #68cee4, 0 0 60px #bd68e4; /* Sombra final (aumenta) */
    }
  }
  
  /* Quando o mouse passa por cima */
  .neon-text:hover {
    animation: none; /* Remove a animação ao passar o mouse */
    opacity: 1; /* Restaura a opacidade ao passar o mouse */
    text-shadow: 0 0 10px #bd68e4, 0 0 20px #68cee4, 0 0 30px #68cee4; /* Restaura a sombra ao passar o mouse */
  }
  
  .login-image {
    width: 100%;
    padding: 0px;
    text-align: center;
    max-width: 100%;
    height: auto;
    animation: resize-animation 1s infinite alternate;
  }
  
  .login-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .animated-image {
    width: 200px; /* Largura inicial da imagem */
    height: 150px; /* Altura inicial da imagem */
    animation: resize-animation 1s ease-in-out infinite; /* Aplicar a animação */
  }
  
  /* Animação de aumento e diminuição de tamanho */
  @keyframes resize-animation {
    0%,
    100% {
      transform: scale(1); /* Tamanho normal */
    }
    50% {
      transform: scale(1.05);
    }
  }
  .form-group {
    margin-bottom: 20px;
    margin-top: 5px;
  }
  
  .form-group label {
    font-size: 20px;
    display: block;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #b379df;
    border-radius: 5px;
    background: linear-gradient(90.3deg, #3f044b 0.06%, #370352 101.62%);
    color: white; /* Adicionando cor de texto branco */
  }
  select option {
    background-color: #3f044b;
  }
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background: linear-gradient(90.3deg, #b379df 0.16%, #68cee4 101.62%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white; /* Adicionando cor de texto branco */
  }
  