.example-card {
    max-width: 90%;
    min-height: 38%;
    background: linear-gradient(90.3deg, #3f044b 50.6%, #2a023f 101.62%);
    margin-top: 8%;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .center-container {

  }

