<mat-card style="border-radius: 50px" class="example-card">
  <mat-card-header>
    <div mat-card-avatar [style.background-image]="'url(' + headerImageURL + ')'" class="example-header-image"></div>


    <mat-card-title>{{ title }}</mat-card-title>
    <!-- Segundo parâmetro abaixo do título -->
    <mat-card-subtitle>{{ localidade }}</mat-card-subtitle>
    <div style=" display:flex; margin-left:10%;">
      <mat-card-content>
        {{ dataEvento }}
        </mat-card-content>
    </div>
    
  </mat-card-header>
  <img
    style="margin-bottom: 10px"
    mat-card-image
    [src]="imageSrc"
    alt="Photo"
  />
  <mat-card-content>
    <span>Link para adquirir o ingresso: <a href="https://{{ link }}">{{ link }}</a></span>
  </mat-card-content>
  <br>
  <mat-card-content>
    <p>{{ content }}</p>
  </mat-card-content>
  <mat-card-actions>
    <!-- 
      Botões e ações adicionais podem ser adicionados aqui 
    -->
  </mat-card-actions>

</mat-card>
