.example-card {
  max-width: 700px;
  min-width: 700px;
  margin-left: -15%;
  padding-top: 10px;
  width: 100%;
  height: auto;
  background: linear-gradient(90.3deg, #660779 50.6%, #2a023f 101.62%);
  margin-top: 4%;
  box-shadow: 0px 5px 40px #d07ee4;
  }

  .example-header-image {
    margin-top: -10px;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .nomeFesta{
      font-size: 35px;
      text-align: left;
      margin-bottom: 5px;
      font-family: 'Satisfy', cursive;
      color: #ffff; /* Cor do texto (verde) */
       text-shadow: 0 0 10px #0000, 0 0 20px #3bb2cd, 0 0 30px #68CEE4; /* Sombra do texto */

  }
  .center-container {

  }
