<mat-card style="border-radius: 50px" class="example-card">
  <mat-card-header>
    <div mat-card-avatar [style.background-image]="'url(' + headerImageURL + ')'" class="example-header-image"></div>

    <mat-card-title>{{ title }}</mat-card-title>
    <!-- Segundo parâmetro abaixo do título -->

  </mat-card-header>
  <img
    style="margin-bottom: 10px"
    mat-card-image
    [src]="imageSrc"
    alt="Photo"
  />

  <mat-card-content>
    <p class="nomeFesta"><br><b>{{ nome }}</b></p>
  </mat-card-content>
  <mat-card-content style="color: white;"><br><br> <b>Localidade: </b>{{ localidade }}</mat-card-content>
  <mat-card-content style="text-align: left;">
    <br> <b>Data: </b>{{ dataEvento }}
    </mat-card-content>
  <mat-card-content><br>
    <span><b>Link para adquirir o ingresso: </b><a href="{{ link }}">{{ link }}</a></span>
  </mat-card-content>
  <br>
  <mat-card-content>
    <p>{{ content }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="toggleFavorito(id)" [@fadeInOut]>
      <mat-icon>{{ curtiuEvento ? "favorite" : "favorite_border" }}</mat-icon>
    </button>
    <mat-card-subtitle style="color: white">{{ likes }} curtidas</mat-card-subtitle>
  </mat-card-actions>

</mat-card>
