
<head>
  <title>{{ title }}</title>
</head>

  <div class="main-login">
    <div class="container">
      <!-- Formulário -->
      <div class="image">
        <!-- Image -->
        <img class="login-image" src="https://i.imgur.com/ZR4cTBG.png">
      </div>
      <br>
      <div class="login">
        <form>
          <h2>{{ title }}</h2>
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
          </div>
          <div class="form-group">
            <label for="senha">Confirme sua senha:</label>
            <input type="password" id="senha-confirmacao" name="senha-confirmacao" required>
          </div>
          <div class="form-group">
            <label for="categoria">Categoria:</label>
            <select id="categoria" name="categoria">
              <option value="nenhuma">Nenhuma</option>
              <option value="festival">Festival</option>
              <option value="workshop">Workshop</option>
            </select>
          </div>
          <button class="botaoEnviar" pButton pRipple label="Entrar" (click)="enviar()"></button>
        </form>
      </div>
    </div>
  </div>


