<div class="sidebar-container" *ngIf="authService.isAutenticado()">
  <div class="sidebar">
    <img class="login-image responsive-image" src="https://imgur.com/RMiWfFm.png">
    <mat-nav-list>
      <a mat-list-item (click)="goToHomePage()">
        <mat-icon>home</mat-icon>
        <span style="margin-top: -5px;">Página Principal</span>
      </a>
      <a mat-list-item (click)="gotToSearch()">
          <mat-icon>search</mat-icon>
          <span>Pesquisar</span>
      </a>
      <a mat-list-item *ngIf="cnpj" (click)="goToAddEvent()">
        <mat-icon>add</mat-icon>
        <span>Adicionar Evento</span>
      </a>
      <a mat-list-item *ngIf="cnpj" (click)="goToMeusEventos()">
        <mat-icon>edit</mat-icon>
        <span>Meus Eventos</span>
      </a>
      <a mat-list-item (click)="goToProfilePage()">
        <mat-icon>person</mat-icon>
        <span>Meu Perfil</span>
      </a>
    </mat-nav-list>
    <div class="sidebar-footer">
      <div class="logout-container" (click)="goToLoginPage()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
      </div>
    </div>
  </div>
  <div class="content">
    <!-- seu conteúdo principal aqui -->
  </div>
</div>
