.full-width-container {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.full-width-auto-complete {
  width: 100% !important;
  z-index: 1000; /* ou qualquer valor adequado */
}

::ng-deep .ui-autocomplete {
  width: 100% !important;
  z-index: 1000; /* ou qualquer valor adequado */
}
