<div class="main-login">
  <div class="container">
    <p-toast></p-toast>
    <!-- Image -->
    <div class="image" (mouseover)="addOverlay()" (mouseout)="removeOverlay()">
      <img class="login-image rounded" (click)="openFileInput()" id="profile-img" [src]="editedUsuario.foto" alt="Imagem de Perfil" (click)="selectFile()">
      <div (click)="openFileInput()" class="camera-icon" *ngIf="isEditing" (click)="selectFile()">
        <i class="fa fa-camera" style="margin-left: 15px;" aria-hidden="true"></i>
      </div>
    </div>

    <div class="login">
      <h2>{{ isMeuPerfil ? 'Editar Perfil' : 'Perfil' }}</h2>
      <div class="grid">
        <div class="col-12">
          <label for="nome">Nome</label>
        </div>
        <div class="col-12">
          <input type="text" [disabled]="!isEditing" pInputText [(ngModel)]="editedUsuario.nome" placeholder="Nome" id="nome" class="custom-input" />
        </div>
      </div>
      <div class="grid" >
        <div class="col-12">
          <label for="email">Email</label>
        </div>
        <div class="col-12">
          <input type="text" [disabled]="!isEditing" pInputText [(ngModel)]="editedUsuario.email" placeholder="Email" id="email" class="custom-input" />
        </div>
      </div>
      <div class="grid" *ngIf="editedUsuario.cnpj && editedUsuario.cnpj !== null && editedUsuario.cnpj !== ''">
        <div class="col-12">
          <label for="cnpj">Cnpj</label>
        </div>
        <div class="col-12">
          <input type="text" [disabled]="!isEditing" pInputText [(ngModel)]="editedUsuario.cnpj" placeholder="Cnpj" id="cnpj" class="custom-input" />
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <label for="categoria">Categoria</label> <!-- Ajuste a largura conforme necessário -->
        </div>
        <div class="col-12">
          <select [disabled]="!isEditing"
          pInputText
          [(ngModel)]="editedUsuario.categoria"
          id="categoria"
          name="categoria"
          tabindex="1"
          class="custom-input"
        >
        <option *ngFor="let option of categorias" [value]="option.value">{{ option.label }}</option>
        </select>
        </div>
        <div class="col-12">
          <button *ngIf="isMeuPerfil && !isEditing" class="botaoEnviar" pButton pRipple label="Editar" (click)="enableEditing()"></button>

        </div>

        <div class="button-container">
          <div class="grid grid-buttons">
            <div class="col-6 button-col" *ngIf="isEditing">
              <button class="p-button-success" pButton pRipple label="Salvar" (click)="saveChanges()"></button>
            </div>
            <div class="col-6 button-col" *ngIf="isEditing">
              <button class="p-button-danger" pButton pRipple label="Cancelar" (click)="cancelEditing()"></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="lista">
  <app-lista-curtida [userId]="usuario.id" [isVisualizacao]="!!isMeuPerfil"></app-lista-curtida>
</div>

<input
  type="file"
  #fileInput
  accept="image/png, image/jpeg"
  style="display: none"
  (change)="onFileSelected($event)"
/>
<input type="file" #fileInput accept="image/png, image/jpeg" style="display: none;" (change)="onFileSelected($event)">
