.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  height: 90vh;
  background: linear-gradient(90.3deg, #3f044b 50.6%, #2a023f 101.62%);
margin-top: -80px;
}
.lista {
  margin-left: 150px;
}
select option {
  background-color: #3f044b;
  width: 100%;
}
.container {
  width: 60%;
  height: 60vh;
  display: flex;
  align-items: center;
  backdrop-filter: blur(50px);
  border-radius: 20px;
  box-shadow: 0px 10px 40px #d898f6;
  background: linear-gradient(90.3deg, #660779 50.6%, #2a023f 101.62%);
  animation: neon-animation 1.3s infinite alternate;
}

@media screen and (max-width: 680px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
  .main-login {
    background: linear-gradient(180.3deg, #3f044b 50.6%, #2a023f 101.62%);
  }
  .h2 {
    font-size: 1px;
  }
  body {
    background: linear-gradient(-180.3deg, #3f044b 50.6%, #2a023f 101.62%);
  }
  .login-image {
    width: 30%;
    margin-top: 0px;
    height: 30px;
  }
  .image {
    width: 30px;
    height: 30px;
  }
  .login {
    margin-top: -80px;
  }
}


.image img{
  flex: 1;
  padding: 5px 5px 5px 5px;
  text-align: center;
  transition: bottom 1s;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  align-items: center;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  overflow: hidden; /* Adicione esta linha para garantir que a imagem n�o ultrapasse os limites do cont�iner */
}

/* Ajustes nos estilos dos campos */
.login {
  flex: 1;
  padding: 20px;
  text-align: left;
}

/* Anima��o */
@keyframes neon-animation {
  0% {
    opacity: 10; /* Opacidade inicial */
  }
  100% {
    opacity: 0.8; /* Opacidade final (diminui) */
    text-shadow: 0 0 20px #68CEE4, 0 0 40px #68CEE4, 0 0 60px #bd68e4; /* Sombra final (aumenta) */
  }
}
.camera{
align-items: right;
}
.botaoEnviar {
  background: linear-gradient(90.3deg, #B379DF 0.16%, #68CEE4 101.62%);
  border-radius: 5px;
  width: 100%;
}

/* Adicione a classe .button-container */
.button-container {
  display: flex;
  justify-content: space-between; /* Ajusta o espaço entre os botões */
}

/* Ajuste o estilo da grade e das colunas dos botões */
.grid-buttons {
  display: flex;
}

.col-6.button-col {
  flex: 1;
}

/* Estilos dos botões */
.p-button-success,
.p-button-danger {
  margin-left: 20px;
  width: 150px; /* Garante que cada botão ocupa 100% da largura da coluna */
}

/* Adicione essa linha para garantir que os botões não quebrem para a próxima linha */
.col-6.button-col {
  white-space: nowrap;
}
/* Ajuste na largura dos campos e margem à direita */
.custom-input {
  width: 100%; /* Faça os campos ocuparem toda a largura disponível */
  margin-right: 20px; /* Adicione a margem desejada à direita */
}


.login h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  margin-left: -60px;
  font-family: 'Satisfy', cursive;
  color: #ffff; /* Cor do texto (verde) */
   text-shadow: 0 0 10px #0000, 0 0 20px #3bb2cd, 0 0 30px #68CEE4; /* Sombra do texto */
  }
