.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 0 0 200px; /* Largura fixa da barra lateral */
  background-color: #0e1214;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}




app-slidebar {
  width: 20%;
  float: left;
}

/* Estilo para o router-outlet (conteúdo principal) */
router-outlet {
  width: 80%;
  float: left;
}


/* Limpar floats para evitar problemas de layout */
.clearfix-container {
  overflow: hidden;
}
