.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5%;
  margin-top: -30px;
}

.title {
  animation: neon-animation 1.3s infinite alternate;
}

/* Animação */
@keyframes neon-animation {
  0% {
      opacity: 10; /* Opacidade inicial */
  }
  100% {
      opacity: 0.8; /* Opacidade final (diminui) */
      text-shadow: 0 0 20px #68CEE4, 0 0 40px #68CEE4, 0 0 60px #bd68e4; /* Sombra final (aumenta) */
  }
}
