<div class="center-container">
    <div class="tracking-in-contract-bck">
        <h2 class="tracking-in-contract-bck">TUTS TUTS</h2>
    </div>    
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-envelope"></i>
        </span>
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            [(ngModel)]="login.email"
            placeholder="Email"
            id="email"
            tabindex="1"
            class="custom-input"
          />
          <label for="email">Email</label>
        </span>
      </div>
  
    <p></p>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="iconKey pi pi-key"></i>
        </span>
        <span class="p-float-label">
          <input
            #passwordInput
            type="{{ showPassword ? 'text' : 'password' }}"
            pInputText
            [(ngModel)]="login.senha"
            placeholder="Senha"
            id="password"
            tabindex="2" 
          />
          <i
            class="pi"
            [ngClass]="{'pi-eye': !showPassword, 'pi-eye-slash': showPassword}"
            (click)="togglePasswordVisibility(passwordInput)"
            style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"
          ></i>
          <label for="senha">Senha</label>
        </span>
      </div>
      
    
    <p></p>
    <button pButton pRipple label="Entrar" (click)="realizarLogin()"></button>
</div>
