

.center-container {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh; /* Isso garante que o contêiner ocupe toda a altura da janela */
    background-color: #3f044b;
  }
  .p-inputgroup {
    width: 300px;
  }
  .esqueceu-senha {
    font-size: 11px;
    margin-left: 60%;

  }
  .custom-password-inpu {
    width: 100% !important;
  }

  .labelInput {
    display: inline-block;
    vertical-align: middle;
    width: 210px;
    text-align: left;
    margin-right: 10px;
  }



.glass-container {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 350px;
    background: rgba(255, 255, 255, 0.101);
    box-shadow: 0 8px 32px 0 rgba(151, 12, 225, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba(185, 13, 136, 0.18);
}
.botaoEnviar {
  background: linear-gradient(90.3deg, #B379DF 0.16%, #68CEE4 101.62%);
  border-radius: 15px;
  width: 300px;
}

  .p-input-icon-left {
    position: relative;
  }

  .p-input-icon-left i {

    right: 10px; /* Ajuste conforme necessário para posicionar o ícone dentro do campo */

    cursor: pointer;
  }
  .pi-eye , .pi-eye-slash{
    z-index: 99999;
    position: fixed;
    left: 90%;

    cursor: pointer;

  }


  .tracking-in-contract-bck{
    color: #cb6ce6;
    text-shadow: 5px solid #5ce1e6;
}
  @-webkit-keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}



