
.card-container {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; /* Garante que os cards vão para a linha abaixo quando não há espaço suficiente */
  justify-content: center;
}

.loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.custom-spinner {
  width: 100px;
  height: 100px;
}

