
.card-container {
  margin-left: 18%;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; 
  justify-content: center;
}

.loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.custom-spinner {
  width: 100px;
  height: 100px;
}

