<p-toast></p-toast>

<head>
  <title>{{ title }}</title>
</head>

<div class="main-login">
  <div class="container">
    <!-- Formulário -->
    <div class="image">
      <!-- Image -->
      <img
        class="login-image"
        style="margin-bottom: 60px"
        src="https://i.imgur.com/ZR4cTBG.png"
      />
    </div>

    <div class="login">
      <h2>{{ title }}</h2>
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="evento.nome"
          id="nome"
          name="nome"
          tabindex="1"
          class="custom-input"
          required
        />
      </div>
      <div class="form-group">
        <label for="descricao">Descrição:</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="evento.descricao"
          id="descricao"
          name="descricao"
          tabindex="1"
          class="custom-input"
          required
        />
      </div>
      <div class="form-group">
        <label for="data-evento">Data Evento:</label>
        <input
          type="date"
          pInputText
          [(ngModel)]="evento.data_evento"
          id="data-evento"
          name="data-evento"
          tabindex="1"
          class="custom-input"
          required
        />
      </div>
      <div class="form-group">
        <label for="categoria">Categoria:</label>
        <select
          pInputText
          [(ngModel)]="evento.categoria"
          id="categoria"
          name="categoria"
          tabindex="1"
          class="custom-input"
        >
        <option *ngFor="let option of categorias" [value]="option.value">{{ option.label }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="localidade">Localidade:</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="evento.localidade"
          id="localidade"
          name="localidade"
          tabindex="1"
          class="custom-input"
          required
        />
      </div>
      <div class="form-group">
        <label for="localidade">Link para compra de ingressos:</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="evento.link"
          id="link"
          name="link"
          tabindex="1"
          class="custom-input"
          required
        />
      </div>
      <div class="form-group">
        <p-fileUpload
          name="myfile[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          accept="image/png, image/jpeg"
          chooseLabel="Escolher"
          cancelLabel="Cancelar"
          (onSelect)="onFileUploadConfirm($event)"
          (onUpload)="onFileSelected($event)"
        >
          <ng-template pTemplate="content">
            <div *ngIf="evento.foto && isNewPhotoSelected">
              <img
                [src]="evento.foto"
                style="max-width: 100px; max-height: 100px; margin: 10px"
              />
            </div>
          </ng-template>
        </p-fileUpload>
      </div>
      <button
        class="botaoEnviar"
        pButton
        pRipple
        label="Registrar"
        (click)="enviar()"
      ></button>
    </div>
  </div>
</div>
